/* CityDropdown.css */

.city-dropdown-popup {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  min-width: 300px; 
}

.city-grid {
  display: grid;
  /* Creates 3 equal columns for a rectangular look */
  grid-template-columns: repeat(5, 1fr); 
  padding-left: 3px;
}